html, body {
	margin:0;
	color: #fff;
	background: #264653;
	font-family: monospace;
	font-size:13px;
}

.wrapper {
	margin:auto;
	margin-top:5px;
	max-width: 500px;
}

.header>h2, .header>p {
	margin-top:0px;
	margin-bottom:15px;
}

.btn, .header a {
	transition:all .25s;
}

.btn, .inpaudio, .transcript {
	font-family:monospace;
	font-size:inherit;
}

.inpaudio, .transcript {
	border-radius:5px;
	width:-webkit-fill-available;	
	padding: 5px;
	display:block;
	border: 1px solid;
}

.recorder, .clip {
	margin-bottom:10px;
}

.header a {
	color:#C05761;
}

.header a:hover {
	color:#F4A261;
}

.btn {
	border:none;
	border-radius:5px;
	padding:5px;
	min-width:50px;
	text-align:center;
	background:#E9C46A;
	cursor:pointer;
}

.btn:hover {
	background:#F4A261;
}

.inpaudio {
	border-radius:5px;
	margin-bottom:5px;
	cursor: pointer;
}

.inpaudio::-webkit-file-upload-button {
	visibility: hidden;
}
.inpaudio::before {
	color:#fff;
	content: 'Select an input audio';
	display: inline-block;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.wrapper {
		width: 90vw;
		
	}
}






