html, body {
	margin:0;
	color: #fff;
	background: #264653;
	font-family: monospace;
	font-size:13px;
}

.wrapper {
	margin:auto;
	margin-top:5px;
	max-width: 500px;
}

.audio-player {
	background: #264653;
	color: white;
	overflow: hidden;
	display: grid;
}

.audio-player .timeline {
	background: white;
	width: 100%;
	position: relative;
	cursor: pointer;
	height: 5px;
	margin: auto;
	border-radius: 5px;
}
.audio-player .timeline .progress {
	background: #E9C46A;
	width: 0%;
	height: 100%;
	transition: 0.25s;
}
.audio-player .controls {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}
.audio-player .controls > * {
	display: flex;
	justify-content: center;
	align-items: center;
}

.audio-player .controls .toggle-play.play {
	cursor: pointer;
	position: relative;
	left: 0;
	height: 0;
	width: 0;
	border: 7px solid transparent;
	border-left: 13px solid white;
}

.audio-player .controls .toggle-play.play:hover {
	transform: scale(1.1);
}
.audio-player .controls .toggle-play.pause {
	height: 15px;
	width: 20px;
	cursor: pointer;
	position: relative;
}
.audio-player .controls .toggle-play.pause:before {
	position: absolute;
	top: 0;
	left: 0px;
	background: white;
	content: "";
	height: 15px;
	width: 3px;
}
.audio-player .controls .toggle-play.pause:after {
	position: absolute;
	top: 0;
	right: 8px;
	background: white;
	content: "";
	height: 15px;
	width: 3px;
}
.audio-player .controls .toggle-play.pause:hover {
	transform: scale(1.1);
}
.audio-player .controls .time {
	display: flex;
}
.audio-player .controls .time > * {
	padding: 2px;
}
.audio-player .controls .volume-container {
	cursor: pointer;
	position: relative;
	z-index: 2;
}
.audio-player .controls .volume-container .volume-button {
	height: 26px;
	display: flex;
	align-items: center;
}
.audio-player .controls .volume-container .volume-button .volume {
	transform: scale(0.7);
}
.audio-player .controls .volume-container .volume-slider {
	position: absolute;
	left: 0px;
	z-index: -1;
	width: 0;
	height: 5px;
	border-radius: 5px;
	background: white;
	transition: 0.25s;
}
.audio-player .controls .volume-container .volume-slider .volume-percentage {
	background: #E9C46A;
	height: 100%;
	width: 75%;
}
.audio-player .controls .volume-container:hover .volume-slider {
	left: -123px;
	width: 120px;
}

.header>h2, .header>p {
	margin-top:0px;
	margin-bottom:15px;
}

.btn, .header a {
	transition:all .25s;
}

.btn, .inpaudio, .transcript, .task {
	font-family:monospace;
	font-size:inherit;
}

.selectopts {
	position: relative;
	font-family: monospace;
}

.selectopts select {
	display: none; /*hide original SELECT element: */
}

.select-selected {
	background-color: #264653;
}

.select-selected:after {
	position: absolute;
	content: "";
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
	top: 7px;
}

.select-items div, .select-selected {
	color: #ffffff;
	padding: 5px;
	cursor: pointer;
}

.select-selected {
	border: 1px solid;
	border-radius: 5px;
}

.select-items {
	position: absolute;
	background-color: #264653;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
	color:#ffffff;
	border: 1px solid;
	border-radius:5px;
}

.select-hide {
	display: none;
}

.select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}

.inpaudio, .transcript, .task {
	border-radius:5px;
	width:-webkit-fill-available;	
	padding: 5px;
	display:block;
	border: 1px solid;
	background:#264653;
	color:#FFF;
}

.task>option {
	background:inherit;
	padding:10px;
}

.design>* {
	margin-bottom:10px;
}

.design>div {
	margin-bottom:15px
}

.design>div>p {
	margin-top:5px;
	margin-bottom:5px
}

.header a {
	color:#C05761;
}

.header a:hover {
	color:#F4A261;
}

.btn {
	border:none;
	border-radius:5px;
	padding:5px;
	min-width:50px;
	text-align:center;
	background:#E9C46A;
	cursor:pointer;
}

.btn:hover {
	background:#F4A261;
}

.inpaudio {
	border-radius:5px;
	margin-bottom:5px;
	cursor: pointer;
}

.inpaudio::-webkit-file-upload-button {
	visibility: hidden;
}
.inpaudio::before {
	color:#fff;
	content: 'Select an input audio';
	display: inline-block;
	outline: none;
	white-space: nowrap;
	-webkit-user-select: none;
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.wrapper {
		width: 90vw;	
	}
}








