<!DOCTYPE html>
<html lang="en">
<head>
    <title>Speech to text</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <h2>Talk - a <a href="https:github.com/openai/whisper" target="_blank">Whisper</a> clone</h2>
            <p>for now we are supporting audio files which are <= 30 seconds, please note that any large audio file will be trimmed down to the first 30 seconds and then transcribed</p>
        </div>
        <div class="design">
            <div class="recorder">
                <input type="file" id="audio" class="inpaudio" name="audio"/>
                <button id="upload" class="btn">Upload audio</button>
            </div>
            <div class="clip">
                <audio id="player" controls>
                    <source src="">
                </audio>
            </div>
            <div class="transcript" id="transcript">
                <span>This is where your annotations are..</span>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='audio.js') }}">
    </script>
</body>
</html>
